<div id="supplier_<%= supplier.id %>" class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product-list-item" data-hook="supplier_list_item" itemscope itemtype="http://schema.org/supplier">
	<div class="panel panel-default">
		<div class="panel-body text-center supplier-body">
			<%= link_to '/suppliers/'+supplier.id.to_s, :class => '', :itemprop => "name", :title => supplier.name, style: 'width:100%;height:100%;' do %>
				<%= image_tag supplier.profile_picture.url(:product), :class => 'supplier_img' %><br/>
				<%= supplier.name %>
			<% end %>
		</div>
	</div>
</div>