<div data-hook="supplier-index">
	<% if @suppliers.any? %>
		<ul id="suppliers" class="inline product-listing" data-hook>
			<%= render :partial => 'spree/suppliers/supplier', collection: @suppliers.reject{|s| s.profile_picture.blank? } %>
		</ul>
	<% end %>
</div>
